.complete-profile-container {
  background-color: #f0ebd8;
  color: #115d81;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.form-select {
  text-align: left;
  margin-bottom: 30px;
  background-color: #50B0C8; /* Set background color for all dropdown menus */
  max-width: 300px; /* Limit the width of the dropdown menu */
  font-family: 'Poppins', sans-serif; /* Set font family for the dropdown menu options */
}

.form-select.major-school-year {
  max-width: 200px; /* Set a slightly smaller width for major/school year dropdowns */
}

.form-label {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.selected-interests-container {
  margin-top: 5px;
}

.selected-interests-container h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.selected-interest {
  display: inline-block;
  background-color: #50B0C8; /* Set background color for selected interests */
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Adjust the position of the dropdown menus */
.form-group {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .form-select {
    max-width: 100%; /* Set full width for dropdown menus on small screens */
  }

  .selected-interests-container {
    margin-top: 5px; /* Adjust the margin-top value as needed */
  }
}
